{% extends 'base.html' %}

{% block title %}
Error : Not Found
{% endblock title %}

{% block css %}

{% endblock css %}

{% block content %}
<div class="container-fluid">
	<div class="row justify-content-center">
		<div class="col-md-7">
			<div class="card my-4 border border-dark ">
				<div class="card-body">
					<h1>Action forbidden</h1>.<p>If this error persists, inform the admin that you are encountering a : 303 Error</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}